.CharacterList {
    display: grid;
    grid-template-columns: repeat(5, 4fr);
    list-style-type: none;
}

.pagination-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}